
.axisContainer_x .lineGroup {
	stroke : #000000;
	stroke-width : 2;
}

.axisContainer_x .scaleGroup {
	stroke : #445566;
	stroke-width : 1;
}

.axisContainer_y .lineGroup {
	stroke : #000000;
	stroke-width : 2;
}

.axisContainer_y .scaleGroup {
	stroke : #445566;
	stroke-width : 1;
}

.mark_x {
	padding : 0px;
	margin : 0px;
	transform : rotate(-50deg);
}

.mark_y {
	margin : 0px;
	padding : 0px;
}