
.axisContainer_x .lineGroup {
	stroke : #668877;
	stroke-width : 0;
}

.axisContainer_x .scaleGroup {
	stroke : #000000;
	stroke-width : 0;
}

.axisContainer_y .lineGroup {
	stroke : #000000;
	stroke-width : 0;
}

.axisContainer_y .scaleGroup {
	stroke : #000000;
	stroke-width : 0;
}

.chartMainArea {
	background-color : #f7f7f7;
	opacity : 1;
}

.mainGroup {

	fill : red;
	fill-opacity : 0.7;
}

.backGroup {
	
	stroke-width : 1;
	stroke : #778899;
}

.MorningStar {

	fill : red; 
	stroke-width : 1;
	stroke : white;
	background-color : red;
}

.Google {
	fill : #778899;
	stroke-width : 1;
	stroke : white;
	background-color : #778899;
}

.Microsoft {
	fill : blue;
	stroke-width : 1;
	stroke : white;
	background-color : blue;
}

.Firefox {
	fill : #225533;
	stroke-width : 1;
	stroke : white;
	background-color : #225533;
}

.Baidu {
	fill : yellow;
	stroke-width : 1;
	stroke : white;
	background-color : yellow;
}

.chartfaceArea  span {
	width : 50px;
	height : 100%;
	display : inline-block;
	margin-right : 10px;
}

.chartfaceArea  li {
	height : 25px;
	padding-bottom : 5px;
}

.chartfaceArea  em {
	line-height : 20px;
	vertical-align: super;
	font-family: Verdana;
}

.chartfaceArea  ul {

	position : absolute;
	padding-left : 0px;
	list-style-type : none;
}
